@use '../../abstracts/' as *;

.master-footer-cta {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1.5rem 1rem;
    text-align: center;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.08);
    z-index: 999;

    
  
    &__container {
      max-width: 900px;
      margin: 0 auto;
    }
  
    &__title {
      font-size: 14px;
      font-weight: 700;
      color: #333;
      margin-bottom: 0.5rem;
    }
  
    &__text {
      font-size: 14.5px;
      color: #555;
      max-width: 600px;
      margin: 0 auto 1rem;
      line-height: 1.4;
    }
  
    &__button {
      display: inline-block;
      padding: 0.8rem 2rem;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      border-radius: 50px;
      background: linear-gradient(90deg, #64b3f4, #c2e59c);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
  
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      }
    }
}
.master-footer-cta.in-place {
    position: static;
    box-shadow: none;
  }
  
.master-footer-cta-placeholder {
    height: 0; /* Se actualizará con JS */
  }